.social-icon { background: url('media_icons.png') no-repeat top left; width: 32px; height: 32px; display: block; float:left;}
.youtubeicon { background-position: 0 0; }
.twittericon { background-position: 0 -32px; }
.twitchicon { background-position: 0 -64px; }
.stackoverflowicon { background-position: 0 -96px; }
.redditicon { background-position: 0 -128px; }
.quoraicon { background-position: 0 -160px; }
.linkedinicon { background-position: 0 -192px; }
.kickstartericon { background-position: 0 -224px; }
.instagramicon { background-position: 0 -256px; }
.githubicon { background-position: 0 -288px; }
.deviantarticon { background-position: 0 -320px; }

.youtubeicon:hover { background-position: -32px 0; }
.twittericon:hover { background-position: -32px -32px; }
.twitchicon:hover { background-position: -32px -64px; }
.stackoverflowicon:hover { background-position: -32px -96px; }
.redditicon:hover { background-position: -32px -128px; }
.quoraicon:hover { background-position: -32px -160px; }
.linkedinicon:hover { background-position: -32px -192px; }
.kickstartericon:hover { background-position: -32px -224px; }
.instagramicon:hover { background-position: -32px -256px; }
.githubicon:hover { background-position: -32px -288px; }
.deviantarticon:hover { background-position: -32px -320px; }
