<header>
    <h1 class="blog-title"> {{ site.title }} </h1>
    <nav>
      {% for c in site.categories %}
        <h3 id="{{ c[0] }}">{{ c[0] | capitalize }}</h3>
        <ul>
        {% for posts in c %}
          {% for post in posts %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        {% endfor %}
        </ul>
      <hr>
      {% endfor %}
    </nav>

    <div id="closeheader" class="closeheader" onclick="lectureModeToggle();"> <i class="fa fa-chevron-left"></i> </div>

    <section class="author-info">
      <figure class="author-figure">
        <img class="author-image" src="/css/author.jpg" alt="Eugenio Ochoa" width="auto" height="auto"/>
        <figcaption class="author-name">Eugenio Ochoa</figcaption>
      </figure>

      <section class="author-links">
        <ul class="blog-links">
          <li><a class="about-link" href="/"> <i class="fa fa-home"></i> Home</a></li>
          <li><a class="about-link" href="/about/"> <i class="fa fa-info"></i> About</a></li>
          <li><a class="rss-link" href="{{ "/feed.xml" | prepend: site.baseurl }}"> <i class="fa fa-rss-square"></i> Recive News</a></li>
        </ul>

        <ul class="social-links">
        <!--
        <li><a href="#" class="social-icon youtubeicon"></a></li>
        <li><a href="#" class="social-icon twitchicon"></a></li>

        <li><a href="#" class="social-icon quoraicon"></a></li>
        <li><a href="#" class="social-icon redditicon"></a></li>
        <li><a href="#" class="social-icon kickstartericon"></a></li>
        <li><a href="#" class="social-icon linkedinicon"></a></li>
        <li><a href="#" class="social-icon instagramicon"></a></li>

        -->
        <li><a href="https://twitter.com/{{ site.twitter_username }}" class="social-icon twittericon"></a></li>
        <li><a href="http://stackoverflow.com/users/2389135/e271" class="social-icon stackoverflowicon"></a></li>
        <li><a href="https://github.com/{{ site.github_username }}" class="social-icon githubicon"></a></li>
        <li><a href="https://{{ site.deviantart_username }}.deviantart.com" class="social-icon deviantarticon"></a></li>
        </ul>
      </section>
    </section>
  </header>
