/*****************RESET******************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;

  font-size: 13px; font-family: 'Work Sans', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*****************END RESET******************************/

a {
  text-decoration: none;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 34px;
	padding-bottom: 20px;
	color: #2E2E1E;
}

h2, h3, h4, h5, h6 {
  font-size: 30px;
	padding-bottom: 20px;

	color: #2E2E1E;
}

h3, h4, h5, h6 {
  font-size: 24px;
	padding-bottom: 20px;
	font-weight: bold;

	color: #2E2E1E;
}

h5, h6 {
  font-size: 15px;
	padding-bottom: 5<h5 class="comment-title"> Stalefish birdie wall ride kickflip pressure flip Eric Koston. </h5>px;

	color: #2E2E1E;
}


p {
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
}
body{
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
	background-image: url('background-white.png');
}

header {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  width: 360px;

  padding: 20px;

  text-align: center;

  color: bla;
  background-image: url('background.png');
}

.blog-title {
	font-family: 'Sunshiney', cursive;
	color: white;
}

.closebutton {
	line-height: 20px;
	padding-right: 5px;
	padding-left: 5px;
	border-radius: 5px;
	height: 20px;
	width: 20px;
}
.closebutton:hover {
	cursor: pointer;
}
.closeheader {
	position: absolute;
	top: 10px;
	left: 395px;
	z-index: 9999;

	text-align: right;
	line-height: 20px;
	padding-right: 5px;
	border-radius: 5px;
	height: 20px;
	width: 20px;

	color: white;
	background-image: url('background.png');
}

.closeheader:hover {
	color: purple;
	cursor: pointer;
}

.author-info {
  position: absolute;
  bottom: 20px;
  width: 360px;
	text-align: center;
  color: white;
}

.author-figure {
  padding-top: 10px;
  padding-bottom: 20px;
}

.author-image {
  max-width: 150px;
  max-height: 150px;
  border-radius: 10px;
}

.author-name {
  font-size: 24px;
}

.blog-links {
	padding-top: 10px;
	padding-bottom: 10px;
}

.social-links {
	display: inline-block;
	list-style: none;
}

.social-links li {
	display: inline;
}

.content {
  position: absolute;
  left: 400px;
  right: 0;
  top: 0;
  bottom: 0;

  overflow: auto;

  padding: 20px;
  text-align: center;



}

.post {
	position: relative;
	padding: 20px;
	border-bottom: 1px solid black;
}

.coments-icon {
	float:right;
	padding-left: 20px;
	color: grey;
}

@keyframes coment-icon-hover {
	from {color: grey;}
	to{color: CornflowerBlue;}
}
.coments-icon:hover {
	animation-name: coment-icon-hover;
  animation-duration: 2s;
	animation-fill-mode: forwards;
	cursor: pointer;
}

.post-title {
	padding: 0;
}

.post-metadata {
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 60px;

	text-align: left;

	color: grey;
}

.post-author::before {
	content: '―';
	color: grey;
}

.post-author {
	color: grey;
}

.post-tags {
	display: inline-block;
	padding-left: 10px;

}
.post-tag {
	display: inline-block;
	float: left;
	font-size: 10px;
	color: grey;
}

.post-footer {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;

	height: 24px;

	padding-left: 40px;
	padding-right: 40px;

	line-height: 24px;

	color: black;
}
.footer-share {
	display: inline-block;
	float:right;
	margin-right: 40px;
	height: 24px;
}

.footer-share > li {
	display: inline-block;
	height: 24px;
}
.footer-comments {
	float: right;
	color: grey;
}

.closecomments {
	display: none;
	position: absolute;
	top: 10px;
	right: 555px;

	border-left: 1px solid grey;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;

	background-image: url('background-white.png');
}

.comments {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;

	width: 500px;

	padding: 30px;

	overflow: auto;

	border-left: 1px solid grey;


	color:black;
	background-image: url('background-white.png');
}

.comment {
	padding: 20px 10px 20px 10px;

	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.comment:hover > .comment-title{
	color: black;
}

.comment:hover > .comment-meta > .comment-author  {
	color: #333385;
}

.comment:hover > .comment-foot > ul > li > a {
	color: #333385;
}

.comment:hover > .comment-foot > ul > li > .comment-facebook {
	color: #3b5998;
}
.comment:hover > .comment-foot > ul > li > .comment-twitter {
	color: #55acee;
}
.comment:hover > .comment-foot > ul > li > .comment-reddit {
	color: #ff5700;
}
.comment:hover > .comment-foot > .comment-flag {
	color: #D11919;
}

.comment-foot a {
	color: grey;
}

.comment-time {
	color: grey;
}

.comment-author::before {
	content: '―';
	color: grey;
}

.comment-author {
	color: grey;
}

.comment-foot {
	padding-left: 10px;
}

.comment-foot > ul > li > a{
	font-size: 12px;
}
.comment-links {
	display: inline-block;
}
.comment-links > li {
	display: inline-block;
}
.comment-recomend::after {
	content: '-';
}
.comment-flag {
	float:right;
}
