---
layout: default
---
<article class="post">
  <h1 class="post-title"> {{ page.title }} </h1>
  <section class="post-metadata">
    <time class="post-date"> {{ page.date | date: "%b %-d, %Y" }} </time>
    <a class="post-author" href="#" rel="author"> {{ page.author }}</a>

    <ul class="post-tags">
      {% for tag in page.tags %}
      <li><a class="post-tag" href="#" rel="{{ tag }}"> {{ tag }}</a></li>
    {% endfor %}
    </ul>
  </section>
  <section>
    {{ content }}
  </section>
</article>
